/******************************************************************

Stylesheet: Login Stylesheet

******************************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');


body.login {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size:18px;
	line-height:1.6;
	background-color:#3FA9F5;

	.privacy-policy-page-link {
		margin:.5em auto;

		a {
			color:#fff;
			text-shadow:0px 1px 1px rgba(0,0,0,.5);
			font-size:16px;
			font-weight:500;

			&:hover {
				text-decoration:underline;
			}
		}
	}
}

#login {
	box-sizing: border-box;
	width:380px;
	max-width:95%;
	padding:2vw 0 4vw;
	margin:0 auto;
	position:relative;

	h1 {
		margin:30px auto;

		a {
			background-image: url('../images/szp-logo-rainbow.svg'); /* make sure to replace this! */
			width: 112px;
			height: 112px;
			background-color:#fff;
			border-radius:200px;
			padding:0;
			background-size:contain;
			border:4px solid #fff;
			text-indent: -9999px;
			overflow: hidden;
			display: block;
			box-shadow:0px 3px 5px rgba(0,0,0,.3);
			transition:transform .2s ease-in-out;

			&:hover {
				transform: scale(1.1) rotate(13deg);
			}
		}
	}

	form {
		margin:0 auto;
		font-weight: normal;
		border: none;
		box-shadow:none;
		background:#EDF7FF;
		position:relative;
		padding:20px;
		box-shadow:0px 3px 5px rgba(0,0,0,.3);

		&:before {
			width:100%;
			position:absolute;
			top:0;
			left:0;
			content:'';
			height:5px;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff2325+0,ff931e+20,ffc128+40,7ac943+60,3fa9f5+80,7d23a0+100 */
		    background: #ff2325; /* Old browsers */
		    background: -moz-linear-gradient(left, #ff2325 0%, #ff931e 20%, #ffc128 40%, #7ac943 60%, #3fa9f5 80%, #7d23a0 100%); /* FF3.6-15 */
		    background: -webkit-linear-gradient(left, #ff2325 0%,#ff931e 20%,#ffc128 40%,#7ac943 60%,#3fa9f5 80%,#7d23a0 100%); /* Chrome10-25,Safari5.1-6 */
		    background: linear-gradient(to right, #ff2325 0%,#ff931e 20%,#ffc128 40%,#7ac943 60%,#3fa9f5 80%,#7d23a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2325', endColorstr='#7d23a0',GradientType=1 ); /* IE6-9 */
		}



		input[type=text], input[type=password], input[type=email]{
			border:3px solid white;
			padding:.5rem 1em;
			line-height:1;
			box-shadow:0px 2px 2px rgba(0,0,0,.5);
			-moz-box-shadow:0px 2px 2px rgba(0,0,0,.5);
			-webkit-box-shadow:0px 2px 2px rgba(0,0,0,.5);
			border-radius:100px;
		}

		input[type=checkbox]{
			border-radius:2px;
			border:3px solid transparent;
			width:20px;
			height:20px;
			box-shadow:0px 2px 2px rgba(0,0,0,.5);
			-moz-box-shadow:0px 2px 2px rgba(0,0,0,.5);
			-webkit-box-shadow:0px 2px 2px rgba(0,0,0,.5);

			&:hover, &:active{
				border-color:#3FA9F5;
			}

			&:checked:before {
				content: "\f147";
			    margin: -3px 0 0 -4px;
			    color: #67c2e7;
				font-size:22px;
			}
		}

		label {
			color:rgba(0,0,0,.7);
			font-weight:700;
			font-size:14px;
			line-height:1.2;
		}

		p.forgetmenot {
			margin-bottom:16px;
		}

		#wp-submit {
			box-shadow:0px 2px 2px rgba(0,0,0,.3);
			border:none;
			padding: .7em 1.2em;
			display: inline-block;
			font-size: 18px;
			height:auto;
			width:100%;
			text-shadow:none;
			color:rgba(0,0,0,.7);
			font-family:"Roboto Slab";
			background:#3FA9F5;
			color:#fff;
			text-shadow:0px 1px 1px rgba(0,0,0,.3);
			letter-spacing:.07em;
			border:3px solid #fff;
			border-radius:100px;
			line-height:1;
			font-weight: bold;
			text-transform:uppercase;
			text-decoration: none;
			cursor: pointer;
			transition:transform .2s ease-in-out;

			&:hover, &:focus {
				background:lighten(#3FA9F5,3%);
				transform: scale(1.05);
			}

			&:active {
				background:#0A78C7;
				text-shadow:none;
		        -webkit-box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.5);
		        box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.5);
			}

		    &.button-wide {
		        width:100%;
		        text-align:center;
		    }
		} /* login button*/
	}

	#nav, #backtoblog{
		text-align:center;

		a {
			color:#fff;
			text-shadow:0px 1px 1px rgba(0,0,0,.5);
			font-size:16px;
			font-weight:500;

			&:hover {
				text-decoration:underline;
			}
		}
	}

	p.message, #login_error {
		border:none;
		border-radius:5px;
		background: #fff339;
	    border: none;
	    border-radius: 5px;
	    max-width: 320px;
	    margin: 20px auto;
	    font-size: 16px;

		a {
			color:#000;
		}

		&.register {
			background-color:darken(#3FA9F5,20%);
			color:#fff;
		}
	}
	#reg_passmail, p.description {
		border:none;
		border-radius:5px;
	    border: none;
	    border-radius: 5px;
	    max-width: 320px;
	    margin:5px auto 0;
	    font-size: 16px;
		line-height:1.3;
	}

	#login_error {
		background:#ff2325;
		color:#fff;
	}
} /* the form box */
