p.has-drop-cap:not(:focus):first-letter {
	font-size: 5em;
	line-height: 1;
	color: #3FA9F5;
	font-family: "Roboto Slab";
	font-weight: 100;
	margin: .05em .3em 0 0;
}

ul.wp-block-gallery {
	li.blocks-gallery-item {
		padding:0;
		&:before {
			display:none;
		}
	}
}

.wp-block-cover-image {
	margin-top:1.5em;
	.wp-block-cover-image-text {
		margin:0 auto;
		font-family:$theme-font;
		text-shadow:0px 0px 6px 0px rgba(black,.3);
		letter-spacing:.06em;
	}
}

.entry-content blockquote.wp-block-pullquote,
blockquote.wp-block-pullquote {
	border:none;
	padding:0;
	width:auto;

	&:before, &:after {
		width:66.666%;
		top:auto;
		left:auto;
		bottom:auto;
		right:auto;
		position:relative;
		display:block;
		height:3px;
		@include rounded;
		@include rainbow-horizontal;
		content:"";
	}

	&:after {
		left:33.3333%;
	}

	p {
		margin:1.5em auto 0;
	}

	cite {
		margin:1.5em auto 2.5em;
		display:inline-block;
	}
}

.wp-block-button {
	margin-top:1.5em;
	text-align: center;

	.wp-block-button__link {
		@extend .button;
	}
}
