
.card {
	background:#fff;
	text-decoration:none;
	transition:box-shadow .15s ease-out;

	.image {
		width:100%;
		height:auto;
		img {
			background:$purple;
			display:block;
			margin:0;
		}
	}

	h3 {
		margin:.5em auto;
	}

	section, footer {
		padding:0 1.5vw;
	}

	footer {
		padding:0 1.5vw .75vw;
		font-family:$serif;
		opacity:.7;

		.go {
			text-decoration:none;
			color:#333;
		}
	}

	.title {
		@include highlighted($blue);
		margin:0 auto;
	}

	p {
		margin:.5em 0;
	}

	&:hover, &:focus {
		@include shadow-high;
		transform:scale(1.01);
	}

	&.activity {
		padding:0;
	}

	&.blog {
		display:flex;
		max-width:26em;
		justify-content: space-between;
		flex-direction:column;
	}

	&.explainer {
		background:rgba(150,150,150,.2);
		padding:1.5vw;
		margin-bottom:1.5em;
		font-size:.9em;
		line-height:1.3;

		i.explainerIcon {
			margin-right:1.5vw;
			opacity:.5;
		}

		&:hover {
			transform:none;
			box-shadow:none;
		}

		.footnote {
			margin:1em 0 0;
			line-height:1;
			font-family:serif;
		}
	}

	&.warning {
		background:$alert-yellow;
		color:darken($alert-yellow, 40%);

	}
}

.cards {
	display:flex;
	flex-wrap:wrap;
	padding:1.5vw;
	justify-content: center;
	align-items: stretch;

	.card {
		margin:1.5vw;
	}

	&.carousel {
		min-width:100%;
		flex-wrap:nowrap;
		justify-content:flex-start;
		overflow-x: auto;
		padding:2vw;
		font-size:.8em;

		.card {
			min-width:26em;
			max-width:80vw;
			margin:1vw;
		}
	}
}

.hovercard {
	text-align:center;
	position:relative;
	max-width:80vw;
	margin:0 auto;
	transition:all .2s ease-in-out;
	overflow:hidden;
	justify-content: space-between;
	display:flex;
	flex-direction: column;
	text-decoration:none;

	a {
		padding:3vw;
		text-decoration:none;
	}

	.title {
		color:#fff;
		text-shadow:0px 1px 2px rgba(black,.3);
		letter-spacing:.02em;
		line-height:1.06;
	}

	.blurb {
		color:#000;
		font-weight:500;
		line-height:1.2;
	}

	&:after {
		font-family:"Font Awesome 5 Pro";
		content:"\f178";
		color:$blue;
		position:absolute;
		bottom:0;
		right:0;
		opacity:0;
		font-size:40px;
		line-height:1;
		width:60px;
		text-align: center;
	}

	&:hover, &:focus {
		background:#fff;
		transform:scale(1.2);
		z-index:5;
		box-shadow: 0px 15px 35px -12px rgba(black,.5);
		.title {color:rgba(0,0,0,.3); text-shadow:none;}

		&:after {opacity:.7;}
	}
}

	.blue-bg .hovercard { i.far {color:$blue-dark;}
		&:hover, &:focus {
			.title {color:$blue;}
		}
	}

.archiveCard {
	margin-bottom:1.5em;
	width:100%;

	h3 {margin:0;}

	section {
		background:#fff;
		justify-content: space-between;
		align-items: stretch;
		padding:0;

		ul.buttons {
			margin:1.5vw;
			justify-content: space-between;
			align-items:center;

			li {
				margin:5px;

				a {
					padding:14px;
					line-height:1;
					display:block;
					@include rounded;

					&:hover, &:focus {
						background:$blue-light;
					}
				}
			}
		}
	}

	.excerpt-read-more {
		display:none;
	}

	p {
		margin-top:calc(12px + 1.5vw);
		margin-left:calc(12px + 1.5vw);
		margin-bottom:calc(12px + 1.5vw);
		font-family:$serif;
		line-height:1.3;
		font-style:oblique;
	}

	.article-header {
		background:$grey;
		display:flex;
		align-items: stretch;

		&:before {
			padding:0 12px;
			padding:3px;
			text-align:center;
			writing-mode:vertical-rl;
			background:rgba(0,0,0,.2);
			color:rgba(255,255,255,.7);
			font-size:12px;
		}

		h3 {
			padding:0;
			flex-grow:1;
			position:relative;

			a{
				padding:.5em;
				color:white;
				font-size:1.1em;
				text-shadow:0px 0px 6px rgba(0,0,0,.3);
				display:block;
				text-decoration:none;
			}
		}
	}
}

.archiveCard.type-activity {
	.article-header:before {content:'Activity';}
	.cat-bg {background-color:$blue !important;}
	.cat-bg-light {background-color:lighten($blue,20%) !important;}

	.cat-text, .buttons a {color:$blue !important;}
	.cat-text-dark {color:darken($blue,20%) !important;}
}

.archiveCard.type-page {
	.article-header:before {content:'Page';}
	.cat-bg {background-color:$green !important;}
	.cat-bg-light {background-color:lighten($green,20%) !important;}

	.cat-text, .buttons a {color:$green !important;}
	.cat-text-dark {color:darken($green,20%) !important;}
}

.archiveCard.type-hrf_faq {
	.article-header:before {content:'FAQ';}
	.cat-bg {background-color:$red !important;}
	.cat-bg-light {background-color:lighten($red,20%) !important;}

	.cat-text, .buttons a {color:$red !important;}
	.cat-text-dark {color:darken($red,20%) !important;}
}

.archiveCard.type-post {
	.article-header:before {content:'Article';}
	.cat-bg {background-color:$purple !important;}
	.cat-bg-light {background-color:lighten($purple,20%) !important;}

	.cat-text, .buttons a  {color:$purple !important;}
	.cat-text-dark {color:darken($purple,20%) !important;}
}

.archiveCard.sfwd-courses,
.archiveCard.download,
.archiveCard.sfwd-lesson {
	.article-header:before {content:'Course';}
	.cat-bg {background-color:$orange !important;}
	.cat-bg-light {background-color:lighten($orange,20%) !important;}

	.cat-text, .buttons a  {color:$orange !important;}
	.cat-text-dark {color:darken($orange,20%) !important;}
}

.archiveCard.sfwd-lesson .article-header:before {
	content:'Lesson';
}

.shuffleCard {
	border:4px solid $blue;
	margin-bottom:8px;
	color:darken($blue,20%);
	width:242px;
	border-radius:2px;
	text-align:center;
	position:relative;
	overflow:hidden;

	i {
		display:block;
		margin:0 auto .7em;
		text-align:center;
	}

	h3 {
		font-size:1em;
		line-height:1.1;
		margin:0 auto;
	}

	p {
		font-size:.7em;
		line-height:1.1;
		margin-bottom:1em;
	}

	a {
		color:white;
		display:inline-block;
		font-size:.8em;
		padding:.2em .4em;
		margin:0 auto;
		@include rounded;
		text-shadow:0px 2px 4px rgba(black,.3);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	header {text-align:center}


	&.type-activity {
		.far:before {content:'\f135';}
		border-color:$blue;
		color:darken($blue,20%);
	}

	&.type-page {
		.far:before {content:'\f0e8';}
		border-color:$green;
		color:darken($green,20%);
	}

	&.type-hrf_faq {
		.far:before {content:'\f059';}
		border-color:$red;
		color:darken($red,20%);
	}

	&.type-post {
		.far:before {content:'\f1ea';}
		border-color:$purple;
		color:darken($purple,20%);
	}

	&.sfwd-courses,
	&.download,
	&.sfwd-lesson {
		.far:before {content:'\f109';}
		border-color:$orange;
		color:darken($orange,20%);
	}

	&.sfwd-lesson .article-header:before {
		content:'Lesson';
	}

}

.isotope {

}
