
/*********************
COURSE BASE STYLES
*********************/

dd.course_progress {
    border-radius:10px !important;
    height:10px !important;
}
.single-sfwd-courses, .single-download{

    .article-header {
        position:relative;
        background:$blue;
        padding:1em 5vw 6vw;
        margin:-1px 0 0;
        align-items:center;
        justify-content:space-between;

        #all-courses-link {
            color:black;
            text-decoration:none;
            strong {
                font-family: $theme-font;
            }
        }

        h1 {
            margin:.5em auto;
            span {@include highlighted($blue-dark);}
        }

        .biglink {margin-right:1em;}

        .featuredImage {
            img {
                border: 4px solid white;
                @include shadow-soft;
                border-radius:4px;
            }
        }

    } /* Article Header */

    #the-content {
        margin-top:-3vw;
        position:relative;
        z-index:5;
    }

    .excerpt {
        font-family: $serif;
        color:$blue-dark;
        font-size:calc(1.2em + .3vw);
        font-style:oblique;
        font-weight:600;
        margin:0 auto;
    }
    .entry-content {
        padding:3vw;
    }

    .entry-content > div > p:first-child {
        font-size:1.3em;
        margin-top:0;
    }

    .entry-content h2 {
        @include highlighted($blue);
        display:inline-block;
        line-height:1.3;
    }

    .course-info {
        border-top:5px dotted $blue;
        padding:3vw;

        h2 {
            margin-top:0;
        }
    }

    .sidebar {
        margin-top:0;
        padding:2vw;
        @include gradient-light-blue;

        h3 {
            color:$blue-dark;
            margin:.25em auto;
        }

        ul {margin:0;}
    }
}

.ld-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin:-2vw -2vw 2vw -2vw;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.edd-submit.button.blue {
    color:white !important;
    background:$blue;
    border-color:white;
    @include shadow-low;
}
.single-sfwd-lessons,.single-sfwd-topic,.single-sfwd-quiz {
    #main {
        @include shadow-soft;
    }

    .entry-content {
        blockquote {
            align-items: center;
            background:$blue-light;
            border:.3em solid #DFD9E8;
            color:darken($purple,20%);
            border-radius:1em;
            font-family:$sans-serif;
            font-style:normal;
            background:white;
            font-size:16px;
            padding:1.5em;
            margin:1.5em 5.5em 1.5em 0;
            line-height:1.2;

            p:first-of-type {margin-top:0;}

            p {margin-top:.7em;}

            &:before {
                display:none;
            }

            &:after {
                display:block;
                top:50%;
                transform: translate(0, -50%);
                content:'';
                background-image:url('../images/cloudie.svg');
                background-size:contain;
                background-repeat:no-repeat;
                background-position:center center;
                width:6em;
                height:4.8em;
                margin-right:-6em;
            }
        }
    }
    .sidebar {
        background:none;
        margin:0 auto !important;
        .widget:first-of-type {
            margin-top:0;
        }

        #learndash_profile {
            padding:0;
        }

        .learndash_profile_heading span {
            color:$blue-dark;
        }
        .expand_collapse {display:none}
    }
}

#learndash_profile {
    .profile_info {
        .profile_avatar {
            img {
                border:3px solid #fff;
                background:$blue;
                overflow:none;
                @include shadow-low;
                @include rounded;
                margin:0;
                padding:0;
                overflow: hidden;
            }
        }
    }
}


/*********************
COURSE DOWNLOAD ARCHIVE STYLES
*********************/

.card.course {
    margin-bottom:1.5em;

    header {
        position: relative;
        overflow: hidden;
        background:$blue;
        padding:1.5em;

        h3, .author{
            position:relative;
            z-index:3;
            color:white;
            margin:0;
        }

        .title {
            font-size:1.2em;
            background:$blue-dark;
        }

        .author {
            margin:1em auto 0;
            font-weight:bold;
            span {text-shadow:0px 1px 2px rgba(black, .3);}
            em {font-family:$serif;color:black;}

            img {margin-left:.5em;}
        }
    }

    .certificate-granting {
        display:none;
    }

    &.category-certificate-courses {

        header {padding-bottom:2em;}

        .certificate-granting {
            display:block;
            text-align: center;
            position:relative;
            z-index:3;
            margin:-2.5em auto 1em;

            h4 {
                display:inline;
                font-size:1em;
                margin:0 auto;
                padding:.5em .75em;
                background:white;
                border-radius:4px 4px 0 0;
            }
        }
    }

    section {
        padding:1.5em;

        p {
            font-family:$serif;
            margin:0;
            line-height:1.2;
            font-size:1.2em;
        }
    }

    footer {
        opacity:1;

        .biglink {
            margin:0 .5em;
        }
    }
    &:hover {
        header a.featuredImage {
            width:105%;
            margin-left:-2.5%;
            opacity:.2;
        }
    }
}


/*********************
COURSE DOWNLOAD PAGE STYLES
*********************/

.single-download {
    #learndash_quizzes {
        display:none;
    }
}

.individual-options {

    .individual-options--prices {
        min-width:20em;
    }

    .explainer {
        h4 {
            margin-top:0;
        }

        ul, li {
            margin:.5em 0 0;
        }
    }
}


#course-by-the-numbers {
    flex-wrap:wrap;
    align-content:center;
    padding-bottom:3vw;

    div {
        padding:1vw;
    }

    h3 {
        margin:0 0 0 .2em;
    }
}

/*********************
COURSE ARCHIVES
*********************/

.post-type-archive-sfwd-courses {
    .cards {
        padding:2.5%;
        .card {
            max-width:45%;
            margin:2.5%;
            position: relative;

            .ld_course_grid_price {
                position:absolute;
                top:0;
                left:0;
                background:$blue;
                padding:5px 7px;
                color:white;
                font-family:$theme-font;
                font-size:.8em;
                letter-spacing:.09em;
                line-height:1;
                text-shadow:0px 1px 2px rgba(black,.3);
            }

            h3 {
                padding:1.5vw;
                margin:0;
            }

            a {
                color:$text-color;
                text-decoration:none;
            }

            .caption {
                padding:0 1.5vw;
            }

            footer {margin:1.5vw 0 0; padding:0;opacity:1}

            .progress-wrap {
                padding:10px;
                dd.course_progress {
                    margin:0;
                }
            }

        }
    }
}

.learndash_content {
    margin-bottom:3vw;

    & > p:first-of-type {
    	font-size:1.3em;
    	line-height:1.3;
    }
}

.single-sfwd-quiz .wpProQuiz_content h2:first-of-type {
    margin:0 auto 1em;
}
/*********************
COURSE TABLET STYLES
*********************/

@media only screen and (min-width: 768px) {
.single-sfwd-courses {
    #inner-content {

		#pre-content {
			position:relative;
			display:flex;
			justify-content: space-between;
			text-align:left;
		}

		#toc {
			display:block;
			padding:2vw;
			padding-top:70px;
			h3 {
				margin-top:1em;
			}
		}
	}
}

.single-sfwd-lessons,.single-sfwd-topic,.single-sfwd-quiz {.sidebar {padding:1.5vw 2.5vw 2.5vw 0;}}

} // end of media query


/********************************
OVERWRITING DEFAULT STYLES
********************************/

.btn-join, #btn-join,
.learndash_checkout_buttons input.btn-join[type="button"],
.learndash_checkout_buttons input.btn-join[type="button"],
.learndash_checkout_button input[type="submit"],
.learndash .btn-join:visited,
.learndash .btn-join,
.learndash #btn-join,
.learndash #btn-join:visited {
    @extend .button;
    @extend .button-rainbow;
    @include rounded;

    &:hover {
        border-color:white;
    }
}

.learndash_checkout_buttons {
    margin:0;
}

.checkout-dropdown-button {
    border:none !important;
    font-size:.8em;

    &:before, &:after {
        display:none !important;
    }


    .jq-dropdown-menu, .jq-dropdown-panel {
        border:none !important;
        padding:5px;
        border-radius:0 !important;
        width:220px;
        @include shadow-soft;
    }


    #btn-join, .btn-join, form input[type=submit], .learndash-stripe-checkout-button {
        text-shadow:none;
        font-family:$sans-serif;
        text-transform: none;
        letter-spacing: normal;
        background:none;
        text-align:left;
        padding:.5em;
        font-size:16px;
        border:none;
        margin:5%;
        width:90%;
        @include rounded;
        box-shadow:none;

        &:hover {
            background:none !important;
        }
    }

    div.learndash_checkout_button {
        position: relative;

        &:after {
            content:'\f1ed';
            display:block;
            right:5%;
            width:1.25em;
            text-align: center;
            top:50%;
            margin-top:-8px;
            font-size:16px;
            z-index:3;
            position:absolute;
            font-family: "Font Awesome 5 Brands";
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
        }
    }

    div.learndash_stripe_button:after {font-family: "Font Awesome 5 Pro"; content:'\f09d'}
}

#sfwd-mark-complete #learndash_mark_complete_button {
    margin:1.5em auto 0;
    width:100%;
    border-radius:4px;
    font-weight:bold;
    padding:0.5em 1em;
    background:$green;
}

form#sfwd-mark-complete input#learndash_mark_complete_button[disabled] {color:white;}
